/*Contact button style*/
#contactbtn{
  transition: all .5s ease;
  color: #fff;
  border: 3px solid white;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color : rgb(14, 86, 221);
  border-radius: 10px;
  color: lavender;
}

#contactbtn:hover{
 color:rgb(14, 86, 221) ;
 font-weight: bolder;
 background-color : white;
 
}
/*Contact button style*/

#headerimg{
  padding-right: 200px;
}

#brndName{
  padding-top: 100px;
  padding-left: 150px;
  font-size:100px;
}

#motto{
  padding-left: 0px;
  font-size:50px;
}